<h3>内容を確認してください。</h3>

<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p><%= @post.content %></p>
  <%= form.submit  "つぶやく" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>


